[Unit]
Description={{serviceDescription}}
After=network.target

[Service]
Type=simple
WorkingDirectory={{workingDirectory}}
EnvironmentFile={{envFile}}
Environment=PORT={{appPort}}
Environment=HOSTNAME=127.0.0.1
ExecStart=/usr/bin/env bun server.js --hostname 127.0.0.1 --port {{appPort}}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
